body {
    margin: 0;
}
/* menu and logotype section*/
@font-face {
    font-family: 'Raleway', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap&subset=latin-ext");

}

ul.header__menu {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    margin: 0;
    padding-left: 30%;
    text-transform: uppercase;
    background-color: #262626;
    color: #7b7b7c;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.header__menu li {
    display: inline-block;
}

.header__menu a {
    display: block;
    color: #7b7b7c;
    text-decoration: none;
    padding: 25px 10px;
    position: relative;
}

.header {
    position: relative;
}

img.header__logo {
    position: fixed;
    left: 5%;
    top: -10px;
    z-index: 4;
    width: 20%;
}

.header__logo-text {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.header__menu a:hover {
    color: #ffffff;
}

.header__menu a:hover:before,
.header__menu a:hover:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #ff0036;
    left: 25%;
}

.header__menu a:hover:before {
top: 0;
}

.header__menu a:hover:after {
    bottom: 0;
}
/*****************************************************/
/*Slider options*/


.slider {
    font-size: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider__wrap {
    width: 300%;
    transition: .5s;
}

.slider__image {
    width: calc(100%/3);
    display: inline-block;
    margin: 0;

}

.slider__image img {
    width: 100%;
    z-index: 1;
}

.slider #slider__button-left,
.slider #slider__button-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #7b7b7c;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s ease;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
}

.slider #slider__button-right {
    right: 0;
}

#slider__button-right:hover,
#slider__button-left:hover {
    color: #ff0036;
}

/*!*text on the slider*!*/

.slider__text-background {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    padding: 200px 300px;
    /*margin: auto 0;*/
    box-sizing: border-box;

}

.slider__text {
    font-size: initial;
    text-align: center;
    color: white;
    /*width: 50%;*/
    z-index: 3;
}

.slider__text h2 {
    font-family: 'Raleway', sans-serif;
    /*font-weight: bold;*/
    z-index: 3;
    text-align: center;
}

span {
    color: #ff0036;
}

/*===============================*/


/*===============================*/