
/* menu and logotype section*/
@font-face {
    font-family: 'Raleway', sans-serif;
}

@font-face {
    font-family: 'Lato', sans-serif;
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?e00zke');
    src:  url('fonts/icomoon.eot?e00zke#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e00zke') format('truetype'),
    url('fonts/icomoon.woff?e00zke') format('woff'),
    url('fonts/icomoon.svg?e00zke#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

ul.header__menu {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    margin: 0;
    padding-left: 30%;
    text-transform: uppercase;
    background-color: #262626;
    color: #7b7b7c;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.header__menu li {
    display: inline-block;
}

.header__menu a {
    display: block;
    color: #7b7b7c;
    text-decoration: none;
    padding: 25px 10px;
    position: relative;
}

.header {
    position: relative;
}

img.header__logo {
    position: fixed;
    left: 5%;
    top: -10px;
    z-index: 4;
    width: 20%;
}

.header__logo-text {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.header__menu a:hover {
    color: #ffffff;
}

.header__menu a:hover:before,
.header__menu a:hover:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: #ff0036;
    left: 25%;
}

.header__menu a:hover:before {
top: 0;
}

.header__menu a:hover:after {
    bottom: 0;
}
/*****************************************************/
/*Slider options*/


.slider {
    font-size: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider__wrap {
    width: 300%;
    transition: .5s;
}

.slider__image {
    width: calc(100%/3);
    display: inline-block;
    margin: 0;

}

.slider__image img {
    width: 100%;
    z-index: 1;
}

.slider #slider__button-left,
.slider #slider__button-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #7b7b7c;
    font-weight: bold;
    font-size: 40px;
    transition: 0.3s ease;
    z-index: 2;
    background-color: transparent;
    border: none;
    outline: none;
}

.slider #slider__button-right {
    right: 0;
}

#slider__button-right:hover,
#slider__button-left:hover {
    color: #ff0036;
}

/*!*text on the slider*!*/

.slider__text-background {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    padding: 200px 300px;
    box-sizing: border-box;

}

.slider__text {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
    z-index: 3;
    line-height: 150%;
    position: relative;
}
.slider__text p{
    margin-bottom: 50px;
}
.slider__text h1 {
    font-family: 'Raleway', sans-serif;
    z-index: 3;
    text-align: center;
    margin-bottom: 30px;
}

span {
    color: #ff0036;
}

/*Buttons on slider*/
.slider__button-features,
.psd {
    font-family: 'Raleway', sans-serif;
    width: 30%;
    height: 50px;
    position: absolute;
    z-index: 2;
    background-color: #262626;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: large;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
}

.slider__button-features {
    left: 15%;
}

.slider__button {
    right: 15%;
}

.slider__button-features:hover,
.psd:hover {
    background-color: #ff0036;
}
/*****************************************************/
/*about section*/
.about-block {
    font-family: 'Raleway', sans-serif;
    padding: 100px;
}

.about-block__description {
    text-align: center;
    font-weight: bold;
    color: #666666;
    padding: 0 0 80px 0;
}

.about-block__description h1{
    color: black;
    margin-bottom: 30px;
}

.about-block__main-content {
    color: #666666;
    box-sizing: border-box;
    position: relative;
    /*padding-top: 80px;*/
}
.about-block__main-content-left-column {
    width: 50%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    margin-right: 20px;
}

.about-block__main-content-right-column {
    position: absolute;
    width: 40%;
}

.scroll-bar {
    display: block;
    margin: 60px auto;
    padding: 0;
    width: auto;
}
/*Icons in the footer of this part*/
.about-block__bottom-icon {
    width: 100px;
    fill: white;
    stroke: black;
    z-index: 2;
}

.about-block__bottom > div:hover .about-block__bottom-icon{
    fill: #ff0036;
    stroke: none;
    transition: .3s;
}

.about-block__bottom h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #262626;
    font-size: 20px;
}

.about-block__bottom > div {
    display: inline-block;
    width: 23%;
    text-align: center;
    margin-left: 10px;
}

.about-block__bottom-icons {
    position: relative;
    width:100px;
    margin: 0 auto;
}
.about-block__bottom-icons:before{
    font-family: 'icomoon';
    display: block;
    position: absolute;
    width: auto;
    font-size: 25px;
    z-index: 2;
    left:39%;
    top:37%;
    color: black;
}

.heart:before {
    content: "\f004";
    left: 38%;
}

.check:before {
    content: "\f046";
}

.phone:before {
    content: "\e959";
}

.fire:before {
    content: "\f06d";
}

.about-block__bottom > div:hover .about-block__bottom-icons:before {
    color: white;
}

/*****************************************************/
/*portfolio section*/

.portfolio-block {
    width: 100%;
    background-color: #262626;
    padding-bottom: 50px;
    position: relative;
}
.portfolio-block__description {
    text-align: center;
    padding: 50px;
}

.portfolio-block__description h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.portfolio-block__description ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.portfolio-block__description li  {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    padding: 0 5px;
}

.portfolio-block__description a {
    text-decoration: none;
    color: #7b7b7c;
}

.portfolio-block__description li:hover a {
    color: #ff0036;
}

.portfolio-block__description a:focus {
    color: #ff0036;
}

.portfolio-block__photos {
    font-size: 0;
    padding: 0 auto;
    text-align:center;
}

.portfolio-block__photos > div {
    display: inline-block;
    position: relative;
}

.portfolio-block__design {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0, 0.9);
    top: 0;
    padding: 200px 20px 0 20px;
    box-sizing: border-box;
    display: none;
}

.portfolio-block__design p:before {
    font-family: 'icomoon';
    content: "\f067";
    font-size: 30px;
    position: absolute;
    top: -60px;
    left: 45%;
}

.portfolio-block__design p {
    color: white;
    font-size: initial;
    position: relative;
}

.portfolio-block__photos-part:hover .portfolio-block__design {
    display: block;
}

.red-scroll-bar {
    display: block;
    width: auto;
    position: absolute;
    margin: 0 auto;
    bottom: -10px;
    left: 32%;
}